@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #192346;

  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: 900;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  font-size: 30px;
  font-style: bold;
  margin: 3px 200px;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: black;
}

.container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-inner button:hover {
  background-color: #45a049;
}

.container-inner .section {
  width: 400px;
  margin: 80px 50px 5px 50px;
}
.section {
  border-radius: 50px;
  box-shadow: 0 4px 8px 5px rgba(87, 80, 80, 0.5),
    0 6px 20px 5px rgba(251, 247, 247, 0.19);
}
.section .info {
  background: rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.info span,
.info h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
  color: white;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(41, 40, 40);
  height: 220px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 100px;
  flex-direction: column;
}

h2 {
  display: flex;
  font-weight: bold;
  padding: 5px;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 100px;
  margin-left: 250px;
}
.attack-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 100px;
  padding-top: 55px;
  margin-left: 250px;
}
.attack-btn button {
  margin: 0 30px;
  padding: 25px;
  border-radius: 45px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(41, 40, 40);
  font-size: 33px;
  color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  box-shadow: 0 5px 5px rgb(51, 51, 51);
  transform: translateY(4px);
}
p {
  color: whitesmoke;
}
input[type="text"] {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa;
}

.reveal {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timer {
  color: aliceblue;
  font-size: medium;
}
.Winner {
  padding: 10px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 5px;
  margin-top: 10px;
}

.css-lzr3bi-LoadingOverlayWrapperBase {
  background: transparent !important;
}
